[submodule "ctags"]
	path = ctags
	url = https://github.com/universal-ctags/ctags.git
	branch = master
	shallow = true
	ignore = dirty
[submodule "pnpm"]
	path = pnpm
	url = https://github.com/pnpm/pnpm.git
[submodule "resources/js/isomorphic-git"]
	path = resources/js/isomophic-git
	url = https://github.com/gnostr-org/isomorphic-git.git
